export(repos.getOption)
export(repos.options)
export(sourceURL)
export(install.pkgs)
export(available.pkgs)
export(download.pkgs)
export(exists.pkgs)
export(Library)
import(pkgmaker)
import(devtools)
import(stringr)
importFrom(RCurl,getBinaryURL)
importFrom(tools,write_PACKAGES)
importFrom(RCurl,getURL)
